[Unit]
Description=Enable waking of system using Bluetooth devices
Wants=powertop.service
After=powertop.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c "echo 'enabled'| tee /sys/bus/usb/devices/1-7/power/wakeup"

[Install]
WantedBy=multi-user.target

