[Unit]
Description=Pacman mirrorlist update
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/reflector --age 12 --sort rate --protocol https --country 'United States' --save /etc/pacman.d/mirrorlist

[Install]
RequiredBy=multi-user.target
